<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSansEgyptianHieroglyphs-Regular.tff</string>
		<string>Cairo-SemiBold.tff</string>
		<string>Cairo-Regular.tff</string>
		<string>Cairo-Medium.tff</string>
		<string>Cairo-Light.tff</string>
		<string>Cairo-ExtraLight.tff</string>
		<string>Cairo-Black.tff</string>
		<string>Cairo-ExtraBold.tff</string>
		<string>Cairo-Bold.tff</string>
	</array>
</dict>
</plist>
